Package                   Version
------------------------- -------
altgraph                  0.17.4
customtkinter             5.2.2
darkdetect                0.8.0
fpdf                      1.7.2
packaging                 24.2
pip                       24.3.1
psutil                    6.1.1
pyinstaller               6.11.1
pyinstaller-hooks-contrib 2025.0
setuptools                75.8.0
